In [7]:
import pandas as pd
import numpy as np

In [55]:
df = pd.read_csv('us_births_2016_2021.csv')
df = df.drop(['State Abbreviation','Education Level of Mother','Average Age of Mother (years)'], axis=1)
df.head(20)

,State,Year,Gender,Education Level Code,Number of Births,Average Birth Weight (g)
0,Alabama,2016,F,1,1052,3116.9
1,Alabama,2016,F,2,3436,3040.0
2,Alabama,2016,F,3,8777,3080.0
3,Alabama,2016,F,4,6453,3121.9
4,Alabama,2016,F,5,2227,3174.3
5,Alabama,2016,F,6,4453,3239.0
6,Alabama,2016,F,7,1910,3263.5
7,Alabama,2016,F,8,487,3196.7
8,Alabama,2016,F,-9,65,3083.9
9,Alabama,2016,M,1,1188,3232.9
10,Alabama,2016,M,2,3657,3121.2
11,Alabama,2016,M,3,9284,3197.9
12,Alabama,2016,M,4,6516,3252.1
13,Alabama,2016,M,5,2460,3301.4
14,Alabama,2016,M,6,4645,3376.1
15,Alabama,2016,M,7,1974,3358.2
16,Alabama,2016,M,8,511,3368.4
17,Alabama,2016,M,-9,56,3107.7
18,Alabama,2017,F,1,1012,3139.6
19,Alabama,2017,F,2,3283,3040.6

In [56]:
def year(year):
    df_year = df[df['Year'] == int(year)]
    gender_count = df_year.groupby(['Gender']).size()
    stats = df_year[['Education Level Code', 'Number of Births', 'Average Birth Weight (g)']].describe()
     
    
    print(gender_count)
    print(stats)
year(2016)

Gender
F    457
M    458
dtype: int64
       Education Level Code  Number of Births  Average Birth Weight (g)
count            915.000000        915.000000                915.000000
mean               3.039344       4312.407650               3261.675191
std                4.721405       7027.108277                113.244125
min               -9.000000         13.000000               2690.200000
25%                2.000000        574.000000               3191.900000
50%                4.000000       1767.000000               3266.600000
75%                6.000000       5419.500000               3342.750000
max                8.000000      59967.000000               3585.700000